<html>
<head>
    <title>Edit Profile</title>
    {{ form.media }}
    <style>
        .hide { position:absolute; visibility:hidden; }
        .show { position:absolute; visibility:visible; }
    </style>
    <script type="text/javascript">
        
        $(document).ready(function() {
            var options = {
                dataType:  'json',
                success:   onSuccess,
                beforeSubmit: beforeForm                
            };
            $('#edit_form').ajaxForm(options);
        });

        function beforeForm() {           
            $(':input', $('#edit_form')).attr('disabled', true);
            $('.errorlist').remove();
            $('#emsg').fadeOut('slow');
            CallJS('Start()');
        }

        function onSuccess(jsonData) {
            if (jsonData) {
                e_msg = "We received your form, thank you.";
                errors = eval(jsonData.errs);
                url = '/';
                if (errors) {
                    e_msg = "Please check your form.";
                    url = '';
                    $.each(errors,
                        function(fieldname,errmsg){
                            id = "#id_" + fieldname;
                            $(id).parent().after(errmsg);
                        }
                    );
                }
                $('#emsg').text(e_msg).fadeIn("slow");               
                setTimeout('window.location.href = url', 1000);                
            } else {
                $('#emsg').text("Ajax error : no data received. ").fadeIn("slow");
            }
            $(':input', $('#edit_form')).removeAttr('disabled');
            CallJS('Terminate()');
        }
    </script>

</head>

<body>
    <h1>Edit Profile</h1>

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
    
    <div id="emsg"></div>
    
    <div>&nbsp;</div>
    
    <form method="post" id="edit_form">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Save">
    </form>
</body>
</html>