<html>
<title>My personal page</title>
<head>
    <style>
        body {
            text-align: center;
        }
        div {
            width:50%;
            margin-left:auto;
            margin-right:auto;
            text-align:left;
        }
        #settings_value{
            position:absolute;
            text-align:left;
        }
    </style>
</head>
<body>
    <p id="settings_value">settings.TIME_ZONE: {{settings.TIME_ZONE}}</p>
    <h1>{{profile.first_name}} {{profile.last_name}}</h1>
    <p>About me:</p>
    <div>
        <p>{{profile.bio}}</p>
    </div>
    <p>Contacts:</p>
    <p>E-mail: <a href="mailto:{{profile.email}}">{{profile.email}}</a></p>
    <p>Skype: {{profile.skype}}</p>
    <p>ICQ: {{profile.icq}}</p>
    <p>Cell: {{profile.cell}}</p>
</body>
</html>